* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --leaf-green: #4caf50;
  --warm-yellow: #ffd54f;
  --sky-blue: #81d4fa;
  --tomato-red: #ef5350;
  --soil-brown: #6d4c41;
  --soft-purple: #ba68c8;
  --light-orange: #ffb74d;
  --cream-white: #fff8e1;
}

main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.title {
  color: var(--leaf-green);
}

.hero {
  background-color: var(--sky-blue);
}

.intro {
  background-color: #e0c56b;
  color: var(--tomato-red);
}

.types-of-crops {
  background-color: var(--light-orange);
  max-width: 1100px;
  justify-self: center;
  font-weight: 600;
  font-size: 20px;
}
.crops-container {
  background-color: #4caf50;
}
.cream {
  color: var(--cream-white);
}
.cream-bg {
  background-color: var(--cream-white);
}
.types-title {
  color: var(--tomato-red);
}
.types-sub {
  color: var(--leaf-green);
}
.p-types {
  color: var(--soil-brown);
}

.food-example {
  line-height: 30px;
  word-spacing: 7px;
  letter-spacing: 2px;
  font-size: 20px;
}

.img-container {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.img-container > img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .img-container {
    height: 50vh;
  }
}

.season-fact {
  background-color: var(--soft-purple);
  color: var(--cream-white);
}
.season-fact > .title {
  color: var(--sky-blue);
}

.img-part-of-crop > img {
  width: 100%;
  height: 100%;
}
.img-part-of-crop {
  height: 70vh;
  justify-self: center;
}
/*Summary Section*/
.summary-head {
  color: var(--tomato-red);
}
.accordion-item {
  background-color: var(--warm-yellow);
}
.accordion-body > p {
  font-size: 20px;
  font-weight: 400;
}

label {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.quiz-btn {
  background-color: var(--tomato-red);
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.quiz-btn:hover {
  background-color: #f53734c0;
}
