@media screen and (max-width: 12500px) {
  .offcanvas {
    width: 35vw !important;
    max-width: 300px !important;
    min-width: 220px;
  }
}

.sidebar-div {
  top: 10%;
  left: 0;
  height: 90vh;
  background-color: #198754 !important;
  justify-content: center !important;
  max-width: 250px;
  z-index: 20000;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  padding-top: 20px;
  position: sticky;
}

.sidebar-div > div > ul > div {
  background-color: #a8c7b85d;
  width: 100%;
}
.sidebar-div > div > ul > div:hover {
  background-color: #a8c7b8bd;
  width: 100%;
}

.sidebar-div > div > ul > div > li > a > img {
  width: 40px;
  height: 40px;
}
.sidebar-div > div > ul > div > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
}

.sidebar-div > div > ul > div {
  margin: 5px;
  width: 100%;
}

.icon-but-div {
  justify-content: center;
  margin-left: -0px;
}

.sidebar-container {
  position: sticky;
  justify-self: left;
  background-color: red;
  inset: 0 0 0 0;
}
.c-t {
  background-color: aqua;
}
.c-b {
  background-color: #7bf862e8;
}
.explore {
  background: linear-gradient(to top, rgb(211, 169, 55), rgb(57, 170, 91));
  background-image: url("../src/IMG/explore-dashboard-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.explore-text {
  background: rgba(7, 7, 7, 0.388);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 20px;
  margin: 30px;
  font-weight: bold;
  text-align: center;
}
.explore-text > p {
  font-weight: 400;
}

.nav-shadow {
  box-shadow: 20px, 20px, 20px, 20px;
}
