@media screen and (max-width: 12500px) {
  .offcanvas {
    width: 35vw !important;
    max-width: 300px !important;
    min-width: 220px;
  }
}

.sidebar-div {
  top: 10%;
  left: 0;
  height: 90vh;
  background-color: #198754 !important;
  justify-content: center !important;
  max-width: 250px;
  z-index: 20000;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  padding-top: 20px;
  position: sticky;
}

.sidebar-div > div > ul > div {
  background-color: #a8c7b85d;
  width: 100%;
}
.sidebar-div > div > ul > div:hover {
  background-color: #a8c7b8bd;
  width: 100%;
}

.sidebar-div > div > ul > div > li > a > img {
  width: 40px;
  height: 40px;
}
.sidebar-div > div > ul > div > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
}

.sidebar-div > div > ul > div {
  margin: 5px;
  width: 100%;
}

.icon-but-div {
  justify-content: center;
  margin-left: -0px;
}

.sidebar-container {
  position: sticky;
  justify-self: left;
  background-color: red;
  inset: 0 0 0 0;
}
.c-t {
  background-color: aqua;
}
.c-b {
  background-color: #7bf862e8;
}
.explore {
  background: linear-gradient(to top, rgb(211, 169, 55), rgb(57, 170, 91));
  background-image: url("../src/IMG/explore-dashboard-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.explore-text {
  background: rgba(7, 7, 7, 0.388);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 20px;
  margin: 30px;
  font-weight: bold;
  text-align: center;
}
.explore-text > p {
  font-weight: 400;
}
.explore-des {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.nav-shadow {
  box-shadow: 20px, 20px, 20px, 20px;
}

.buton {
  transition: background-color 0.5s;
  color: #ffffff;
  background-color: #c5f35a;
  border: none;
  max-width: 180px;
  width: 150px;
}
.buton:hover {
  background-color: #a9df2b;
  color: white;
}
.chat-btn {
  position: fixed;
  top: 20vh;
  right: 50px;
  margin: 0 -20px;
  object-fit: cover;
  animation: chat-btn 2s ease-in-out infinite;
}
.chat-btn > button {
  float: right;
  transition: all 0.5s ease-in-out;
  font-weight: 500;
  font-size: 20px;
  opacity: 0.8;
}
.chat-btn > button > img {
  height: 120px;
  width: 90px;
}

.chat-btn > button:hover {
  background-color: #c5f35a;
  color: #198754;
  opacity: 1;
}
@keyframes chat-btn {
  0% {
    top: 65vh;
  }
  50% {
    top: 60vh;
  }
  100% {
    top: 65vh;
  }
}
@media screen and (max-width: 650px) {
  .chat-btn {
    width: 100%;
    justify-self: end;
  }
}

.chat-box-container {
  position: fixed;
  top: 75%;
  left: 20%;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  background: linear-gradient(to right, #47474786, #c5c1c181);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.open-chat-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  backdrop-filter: blur(10px);
}
