body {
  background-color: #f8f9fa;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.reasons > strong {
  font-weight: 500;
}
.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
}
